doctype html

html(lang="en")
  head
    base(href="/")
    title="Pineapple Club"
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='styles/custom-bootstrap.css')
    link(rel='stylesheet', href='styles/offcanvas.css')
    link(rel='stylesheet', href='styles/ngProgress.css')
  body(ng-controller="ApplicationController")
    div.container      
      div.row.row-offcanvas.row-offcanvas-right        
        div.col-xs-12.col-sm-12
          div(ui-view)
    div.device-xs.visible-xs
    div.device-sm.visible-sm
    div.device-md.visible-md
    div.device-lg.visible-lg
    script(src="scripts/vendors/require.js", data-main=page.environmentScript)