<!-- cn = contact -->
<div ng-controller="ContactController">
    <div>

        <h2>Contact Us</h2>

        <div id="lc_location_div" class="col-lg-8" ng-show="(location.path() === '/contact')">

            <p>
                We are within minutes walk from Rockdale or Banksia Train Station. Our location is suitable for families 
                who commute to work by train. With plenty of free street parking, a lot of parents find it convenient that they 
                can drop off their child in the morning and then take a train to work.
            </p>

            <div id="mp_map_canvas" pcd-google-map></div>
        </div>
        
        <div class="col-lg-4">
            <table>
                <tbody>
                <tr>
                    <td id="cn_image_td" rowspan="2">
                        <img src="/images/phone.png"  alt="phone"/>
                    </td>
                    <td id="cn_phone_td"> 
                        Phone:                  
                    </td>
                    <td>    
					    <a ng-href="tel:{{companyInfo.contact.phone}}" ng-bind="companyInfo.contact.phone"></a>
                    </td>
                </tr>
                <tr>
                    <td> 
                        Mobile:                  
                    </td>
                    <td>    
					    <a ng-href="tel:{{companyInfo.contact.mobile}}" ng-bind="companyInfo.contact.mobile"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/email.png"  alt="email"/>
                    </td>
                    <td>
                        Email:
                    </td>
                    <td>
                        <a ng-href="mailto:{{companyInfo.contact.email}}" ng-bind="companyInfo.contact.email"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
    </div>    
</div>
