<!-- ds = "dashboard" -->
<div ng-controller="DashboardController">
    <div id="ds_header_div">
        Welcome <span>{{currentUser.firstname + ' ' + currentUser.lastname}}</span>
    </div>
    <div id="hm_items_div" class="container">
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail img-responsive tile-size">
                <img class="tile-image" src="../images/children.png">
            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail img-responsive tile-size">
                <img class="tile-image" src="../images/journal.png">
            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail img-responsive tile-size">
                <img class="tile-image" src="../images/daily.png">
            </div>
        </div>
    </div>
</div>