<!-- hm = home -->
<div> 
    <div class="row">
        <div class="col-lg-8">
            <h2><img src="/images/welcome.png"  alt="welcome"/>Welcome</h2>
            <p>Pineapple Club is a Family Day Care (FDC) registered with Integricare Family Day Care St George.
            Our FDC is operated by a trained educator who has years of experience in child care with diploma qualification.
            We are approved to administer Child Care Benefits (CCB) and Child Care Rebate (CCR)
            </p>            

            <h3>Our FDC key features</h3>
            <p>
                <ul>
                    <li>90% of the space is setup for childcare service</li>
                    <li>Educator is supported by high quality FDC organisation Integricare with every need</li>
                    <li>Your child will receive maximum attention due to our low child-educator ratio. They will better develop and bond with their educator</li>
                    <li>Our diploma qualified educator has over 3 years of experience providing care in a well-established long day care centre</li>
                    <li>Strong educational programs</li>
                    <li>Activity report is provided to parent on daily basis</li>
                </ul>
            </p>
        </div>

        <div ng-include="'/views/contact.html'"></div>

        <div id="hm_integricare_div" class="col-lg-2">
            <img src="/images/integricare.jpg" alt="integricare logo">
        </div>
    </div>  
</div>