<!-- pl = philosophy -->
<div>
    <h2>Philosophy</h2>
    <p>
    We believe that as children develop, their early experiences in life are embedded into the architecture of their behavior. 
    This can have profound consequences on how their lives unfold. At Pineapple Club Family Day Care, we provide a loving, 
    caring and safe environment to promote positive behavior to help children develop social skills that can make a huge 
    difference to their futures.
    </p>

    <p>
    Children are encouraged to treat each other with respect and dignity regardless of their culture, language and home 
    experience.
    </p>

    <p>
    We believe that every child is different in their own special way. Through constant observation and refinement, our 
    activities are tailored to every child’s specific needs to fit their current skills and to expand their areas of potential. 
    We believe that children learn through playing, so our activities are designed to be enjoyable and educational and assist 
    them with language, problem solving, motor skills and also help promote independence and social and emotional development.
    </p>

    <p>
    We acknowledge that parents always want the best for their child and highly value and encourage parents to provide feedback, 
    ideas, and any other suggestions. Parents are encouraged to anticipate in the decision making, daily programs and long term
    goals of their child.
    </p>
</div>
