<!-- sr = services -->
<div>
    <h2 id="service_h2">Services</h2>

    <div class="col-lg-4">
        <h3>Family day care</h3>
        <p>
        We offer education and care services provided by a registered educator with diploma qualification and 3 years 
        of experience in a long day care centre. Our educator is supported by Integricare Family Day Care St George. 
        The environment is setup for early childhood learning to create an atmosphere that is safe, welcoming and 
        engaging. We help children develop skills, interests and become independent and confident learners. We are 
        approved to administer Child Care Benefit (CCB) and Child Care Rebate (CCR).
        </p>
        <table class="service-table">
            <tr>
                <td>Opening:</td>
                <td>Mon - Fri 7:30AM - 6:00PM</td>
            </tr>
            <tr>
                <td>Group age:</td>
                <td>10 months - 5 years old</td>
            </tr>
        </table>    
    </div>

    <div class="col-lg-4">
        <h3>Before/after school care</h3>
        <p>
        We provide long and flexible opening hours between 7:30AM to 6:00PM Monday to Friday. With a great location 
        just behind Bexley Public School, we ideally situated to provide before/after school care service in the area. 
        To find out more, come and speak to our experience educator.
        </p>    
        <table class="service-table">
            <tr>
                <td>Opening before school:</td>
                <td>Mon - Fri 7:30AM - 9:00AM</td>
            </tr>
            <tr>
                <td>Opening after school:</td>
                <td>Mon - Fri 3:30PM - 6:00PM</td>
            </tr>
            <tr>
                <td>Group age:</td>
                <td>School age</td>
            </tr>
        </table>     
    </div>

    <div class="col-lg-4">
        <h3>Vocation care</h3>
        <p>
        At Pineapple Club, we accommodate parents who require child care on a non-casual, ad hoc basis during the day 
        or after working hours. Saturday and Sunday care can also be arranged. We have a strong and fun educational 
        activity program that your child will enjoy. Contact us to discuss your needs, we are confident that our 
        experienced educator will be able to assist you.
        </p>        
        <table class="service-table">
            <tr>
                <td>Opening:</td>
                <td>Mon - Fri 7:30AM - 6:00PM</td>
            </tr>
            <tr>
                <td></td>
                <td>Sat - Sun can be arranged</td>
            </tr>
            <tr>
                <td>Group age:</td>
                <td>10 months - school age</td>
            </tr>
        </table>
    </div>
</div>